.gradle
/local.properties
.DS_Store
/build
/captures
*.iml
app.iml
/apks
/.svn
/.idea/libraries
/.idea/.name
/.idea/MOVAS01-android.time
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/caches
.idea/markdown-navigator/profiles_settings.xml
.idea/markdown-navigator.xml
.idea/markdown-exported-files.xml
.idea/
